<!DOCTYPE html> 
<html>
<head>
    <meta name="charset" content="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower   -->
    
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/lodash/lodash.js"></script>
    <!--  endbower  -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/site.css">
    <!-- endinject  -->
    <!-- inject:js -->
    <!-- endinject -->
</head>
<body>
    <div class="jumbotron">
        <h1>Hello World</h1>
        Ipsum lorem etc
    </div>
    <div>
        {{#each list}}
            <button class='btn btn-primary' onclick="alert('{{this}}');">Press me!</button>
        {{/each}}
    </div>
</body>    
</html>
