<!DOCTYPE html> 
<html>
<head>
    <meta name="charset" content="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower   -->
    
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/lodash/lodash.js"></script>
    <!--  endbower  -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/site.css">
    <!-- endinject  -->
    <!-- inject:js -->
    <!-- endinject -->
</head>
<body class="cursive">
    <div class="parallax parallax-right" style="background-image: url('/img/single-ball-medium.jpeg')">
        <div class="parallax-caption"><span class="nice-phrase red">É tempo de natal...<span></div>
    </div>
    <div class="jumbotron">
        <div class="nice-phrase">Tempo de Alegria</div>
        <span class="nice-phrase nice-phrase-small">Tempo de ...<span>
    </div>
    <div class="parallax parallax-right" style="background-image: url('/img/lego_noel.jpeg')">
        <div class="parallax-caption nice-phrase nice-phrase-small red">
            <ul>
                <li>Panetone</li>
                <li>Rabanada</li>
                <li>Chester</li>
                
            </ul>
        </div>
    </div>
    <div class="jumbotron">
        <div class="nice-phrase">Mas também de...</div>
    </div>
    <div class="parallax parallax-left" style="background-image: url('/img/snow-man-winter-cap-cold.jpeg')">
        <div class="parallax-caption"><span class="nice-phrase red">Reflexão</span></div>
    </div>
</body>    
</html>
